<div>
  <div class="min-h-[62vh] grid content-center">
    <div class="w-7/8 md:w-5/8 mx-auto text-center">
      <span class="border px-4 rounded-full py-1">Let's build this together</span>
      <h1 class="font-lora font-bold text-[72px] leading-tight">Digital Product Builder</h1>
      <p class="font-fira-sans">Embrace AI Era, let's build even more quality digital products.</p>
    </div>
  </div>
</div>
