<% content_for :title, "Editing post" %>
<div class="md:w-2/3 w-full mx-auto">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-2">
      <%= render partial: "icon_button", locals: { path: posts_path, icon: "arrow-left" } %>
      <%# <h1 class="font-bold">Edit post</h1> %>
    </div>
    <div class="flex items-center">
      <%= render partial: "icon_button", locals: { path: @post, icon: "eye" } %>
      <%= render partial: "icon_button", locals: { path: @post, icon: "trash-2", method: :delete, color: "red", data: { turbo_confirm: "Are you sure?"} } %>
    </div>
  </div>
  <%= render "form", post: @post %>
</div>
