<header>
  <div class="flex justify-between h-[80px] items-center">
    <%= render "layouts/logo" %>
    <div>
      <nav>
        <ul class="hidden sm:flex gap-5">
          <li>Works</li>
          <li>Case Studies</li>
          <li>Blog</li>
        </ul>

        <select name="nav" id="nav" class="sm:hidden cursor-pointer text-center">
          <option value="">Select</option>
          <option value="/">Works</option>
          <option value="/case-studies">Case Studies</option>
          <option value="/blog">Blog</option>
        </select>
      </nav>
    </div>
    <div>
      <%= if authenticated?
        button_to "Log Out", session_path, method: :delete, class: "cursor-pointer"
      end %>
      <%= unless authenticated?
        link_to "Log In", new_session_path, class: "cursor-pointer"
      end %>
    </div>
  </div>
</header>
