<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css", media: "all" %>

    <%= render "layouts/head" %>
  </head>

  <body class="bg-[#F9FAFB]">
    <div class="flex flex-col min-h-screen max-w-[1440px] px-6 mx-auto">
      <%= render "layouts/header" %>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
